<!DOCTYPE html>
<html>
<head>
  <title>In-N-Out Burger Builder</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="col-sm-12">

<%= yield %>

</body>
</html>
